@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/breakpoints" as *;

.home-page {
  @include flex-center-v(null);
  .home-icon {
    font-size: 200px;
    color: $font-dark-color;
  }
  .home-intro {
    max-width: 550px;
    text-align: center;
    padding: 0 15px;
    margin: 0 auto 25px;
    h1 {
      font-family: $alt-font-family;
      font-weight: 400;
      margin: 15px 0;
    }
    p {
      font-weight: 600;
    }
  }
  @include respond-up(usm) {
    .home-icon {
      font-size: 140px;
    }
  }
  .home-links {
    display: flex;
    gap: 20px;
  }
}
