@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/breakpoints" as *;

.notes-page {
  .container {
    min-width: 100%;
  }
  .notes-header,
  .tags-filter {
    margin: 0 0 10px;
  }
  .notes-header {
    @include flex-center-h(15px);
    flex-wrap: wrap;
    background-color: $main-light-bg;
    padding: 10px 15px;
    border-radius: $border-main-raduis;
    @include respond-up(xsm) {
      gap: 8px;
    }
    .search-title {
      @include flex-between-h(10px);
      label {
        font-size: 16px;
        font-weight: 600;
        @include respond-up(usm) {
          font-size: 12px;
        }
      }
    }
    .header-btns {
      display: flex;
      gap: 10px;
    }
  }
  .tags-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
  .notes-content {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    .notes-list {
      flex: 1;
      &.notes-grid {
        height: 75vh;
        @include grid-columns-auto(minmax(280px, 1fr), 10px);
        align-content: flex-start;
        padding: $items-list-padding;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
          width: $scroll-sm-width;
          background-color: $scrollbar-bg;
          border-radius: $border-main-raduis;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $font-dark-color;
        }
        .note-card {
          height: 180px;
          display: flex;
          flex-direction: column;
          background-color: $main-light-bg;
          box-shadow: $main-shadow;
          padding: 8px;
          position: relative;
          &:hover {
            transform: translateY(-5px);
          }
          .note-content {
            flex: 1;
            h5 {
              margin-bottom: 5px;
            }
            p {
              flex: 1;
              font-size: 14px;
              line-break: anywhere;
              line-height: 1.5; /* Use auto height to allow line clamp to work */
              display: -webkit-box; /* Use a flexible box layout */
              -webkit-box-orient: vertical; /* Set the box orientation to vertical */
              line-clamp: 4;
              -webkit-line-clamp: 4; /* Limit the text to 5 lines */
              overflow: hidden; /* Hide any overflow text */
              text-overflow: ellipsis; /* Add an ellipsis (...) for overflow text */
            }
          }
          .info {
            .tags {
              display: flex;
              gap: 5px;
              padding: 5px 0;
              overflow-x: hidden;
            }
            .note-date {
              color: $alt-font-color;
              font-weight: 600;
            }
          }
          .note-options {
            position: absolute;
            right: 7px;
            top: 0px;
            .options-icon {
              color: $alt-font-color;
              font-size: 22px;
              &:hover {
                color: $font-dark-color;
              }
            }
            .btns {
              border-radius: $border-main-raduis;
              overflow: hidden;
              position: absolute;
              top: 20px;
              right: 0;
              button {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 14px;
                font-weight: 400;
                padding: 8px;
                &:not(:last-of-type) {
                  border-bottom: 1px solid $border-alt-color;
                }
              }
            }
          }
        }
      }
    }
    .notes-board {
      min-width: 220px;
      background-color: $main-light-bg;
      padding: $board-padding;
      border-radius: $border-main-raduis;
      overflow: hidden;
      position: relative;
      &::before {
        @include ele(100%, 10px, $main-dark-bg);
        top: 0;
        left: 0;
      }
      @include respond-up(sm) {
        display: none;
      }
      h4 {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        position: relative;
        svg {
          font-size: 26px;
        }
      }
      ul {
        padding: 0 10px;
        li {
          @include flex-between-h(15px);
        }
      }
      .general-stats {
        position: relative;
        margin-bottom: 20px;
        li {
          padding: 8px;
          margin-bottom: 10px;
          border: 1px solid $border-alt-color;
          span {
            &.name {
              font-size: 16px;
              display: flex;
              align-items: center;
              gap: 10px;
              flex: 1;
              color: $font-dark-color;
              .icon {
                @include icon-shape(
                  30px,
                  30px,
                  $white-gray-bg,
                  $alt-font-color,
                  "inbox"
                );
                svg {
                  font-size: 22px;
                }
              }
            }
          }
        }
        &::before {
          @include ele(70%, 1px, $border-alt-color);
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .tags-stats li:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
  .note-section {
    width: 500px;
    background-color: $main-light-bg;
    border-radius: $border-main-raduis;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    @include respond-up(usm) {
      width: 90%;
    }
    .note-banner {
      width: 100%;
      height: 25px;
      background-color: $main-dark-bg;
      margin-bottom: 5px;
      position: relative;
      .close-btn {
        @include icon-shape(
          40px,
          100%,
          $main-dark-bg,
          $font-light-color,
          "inbox"
        );
        font-size: 22px;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          background-color: $red;
        }
      }
    }
    .note-dates {
      @include flex-between-h(10px);
      padding: 0 10px;
      .date p {
        font-weight: 600;
        color: $alt-font-color;
      }
    }
    form {
      margin: 10px;
      overflow: hidden;
      position: relative;
      .note-inputs {
        border-radius: $border-main-raduis;
        overflow: hidden;
        input[name="title"] {
          font-size: 18px;
          font-weight: 600;
        }
        .textarea-container {
          height: 350px;
          position: relative;
          overflow: hidden;
          border-radius: $border-main-raduis;
          &::before {
            @include ele(100%, 20px, $input-light-bg);
            content: attr(data-letters);
            color: $alt-font-color;
            font-size: 16px;
            text-align: end;
            padding: 4px 8px;
            bottom: 0;
            right: 6px;
          }
          textarea {
            height: 100%;
            line-height: 1.4;
            letter-spacing: 1px;
            resize: none;
            padding-bottom: 28px;
            &::-webkit-scrollbar,
            &::-webkit-scrollbar-thumb {
              width: 6px;
              background-color: $scrollbar-bg;
              border-radius: $border-main-raduis;
            }
            &::-webkit-scrollbar-thumb {
              background-color: $main-dark-bg;
            }
          }
        }
        @include respond-up(usm) {
          input[name="title"] {
            font-size: 16px;
          }
          .textarea-container {
            height: 250px;
            &::before {
              font-size: 14px;
            }
          }
        }
      }
      .tags-content {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 40px;
        margin: 5px;
        & > svg {
          font-size: 20px;
        }
        .note-tags {
          flex: 1;
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 5px;
          overflow-x: auto;
          &::-webkit-scrollbar,
          &::-webkit-scrollbar-thumb {
            height: 4px;
            background-color: $gray-bg;
            border-radius: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $font-dark-color;
          }
          .tag-span {
            text-wrap: nowrap;
            svg {
              font-size: 20px;
            }
          }
        }
      }
      .tag-inputs {
        @include flex-center-h(30px);
        padding: 5px 0 10px;
        margin: 0 0 15px;
        position: relative;
        select,
        option {
          font-size: 14px;
          padding: 8px;
        }
        .tag-input {
          display: flex;
          button {
            padding: 4px;
            font-size: 20px;
          }
        }
        &.input-error::before {
          content: attr(data-error);
          width: 100%;
          color: $red;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          position: absolute;
          top: -10px;
        }
      }
      @include respond-up(usm) {
        & > svg,
        .all-tags .tag-span svg {
          font-size: 16px;
        }
        .tag-inputs {
          gap: 15px;
          select {
            padding: 5px;
          }
        }
      }
    }
  }
}
