@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/breakpoints" as *;
.tasks-page {
  .container {
    .tasks-header {
      margin: 10px auto;
      background-color: $main-light-bg;
      padding: 10px 15px;
      .header-content {
        width: 500px;
        margin: 0 auto;
        form,
        .search-div {
          @include flex-center-h(5px);
        }
        form {
          margin-bottom: 5px;
        }
        .search-div {
          position: relative;
          input[type="search"] {
            padding-right: 40px;
          }
          svg {
            color: $font-dark-color;
            background-color: $input-light-bg;
            font-size: 26px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            @include respond-up(usm) {
              font-size: 20px;
              right: 5px;
            }
          }
        }
      }
      @include respond-up(xsm) {
        padding: 8px;
        .header-content {
          width: 80%;
        }
      }
    }
    .status-filter {
      display: flex;
      gap: 10px;
      margin: 10px 0;
    }
    .tasks-content {
      @include flex-between-h(10px);
      align-items: flex-start;
      padding: $items-content-padding;
      .tasks-list {
        height: 68vh;
        flex: 1;
        padding: $items-list-padding;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
          border-radius: $border-main-raduis;
          width: $scroll-sm-width;
        }
        li {
          background-color: $main-light-bg;
          padding: 10px 20px 10px 40px;
          margin-bottom: 5px;
          &:hover {
            background-color: $light-bg-hover;
          }
          .task-content {
            flex: 1;
            .input-div {
              padding: 5px 0;
              margin-bottom: 5px;
              position: relative;
              input[type="checkbox"] {
                width: 16px;
                height: 16px;
                position: absolute;
                left: -26px;
                top: 10px;
              }
              label {
                width: 90%;
                display: block;
                font-size: 16px;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
            .down {
              @include flex-between-h(20px);
              .info {
                flex: 1;
                @include flex-between-h(15px);
                .date {
                  font-style: italic;
                  color: $alt-font-color;
                  @include respond-up(usm) {
                    font-size: 12px;
                  }
                }
              }
              .task-options {
                display: flex;
                gap: 5px;
                svg {
                  color: $font-dark-color;
                  font-size: 22px;
                  padding: 2px;
                  @include respond-up(usm) {
                    font-size: 16px;
                  }
                  &.edit:hover {
                    color: $font-light-color;
                    background-color: $main-dark-bg;
                  }
                  &.delete:hover {
                    color: $red;
                  }
                }
              }
            }
          }
          &.task-completed {
            background-color: $light-bg-hover;
            .input-div label {
              position: relative;
              &::before {
                @include ele(100%, 2px, $font-dark-color);
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      .tasks-board {
        min-width: 200px;
        background-color: $main-light-bg;
        padding: $board-padding;
        border-radius: $border-main-raduis;
        overflow: hidden;
        position: relative;
        @include respond-up(sm) {
          display: none;
        }
        &::before {
          @include ele(100%, 10px, $main-dark-bg);
          top: 0;
          left: 0;
        }
        svg,
        span.count {
          color: $font-dark-color;
        }
        & > h4 {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-bottom: 15px;
          svg {
            font-size: 22px;
          }
        }
        .stats {
          ul li,
          .total {
            @include flex-between-h(15px);
          }
          ul {
            margin-bottom: 30px;
            position: relative;
            &::before {
              @include ele(150px, 1px, $border-alt-color);
              bottom: -15px;
              left: 50%;
              transform: translateX(-50%);
            }
            li :not(:last-of-type) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

.task-edit-section {
  background-color: $main-light-bg;
  margin: 0 15px;
  border-radius: $border-main-raduis;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  z-index: 5;
  .banner {
    width: 100%;
    height: 25px;
    background-color: $main-dark-bg;
    position: relative;
    .close-btn {
      @include icon-shape(
        40px,
        100%,
        $main-dark-bg,
        $font-light-color,
        "inbox"
      );
      font-size: 22px;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        background-color: $red;
      }
    }
  }
  form {
    padding: 15px;
    h4 {
      margin-bottom: 5px;
    }
    input[type="text"] {
      margin: 5px 0;
    }
    .info {
      @include flex-between-h(10px);
    }
    .info {
      padding: 5px 0;
      .date {
        font-size: 14px;
        font-style: italic;
        color: $alt-font-color;
      }
    }
  }
}
